.wrapper {
  display: flex;
  margin-bottom: 15px;
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ebd8ff;
}
